form
{
    border-style:outset;
    height: 15vw;
}

button
{
 position: relative;
 top: 7vw;
 right: 17.5rem;
}

.error
{
 position: relative;
 top: 10vw;
 color: red;
}

input
{
    position: relative;
    left: 3vw;
}

label
{
    position: relative;
    left: 3vw;
}